
import './base.css'; //Это импорт другого CSS-файла base.css в котором обычно содержится: сброс стилей, глобавльные переменные, шрифты, стандартные цветовые схемы

body {
  font-family: Arial, sans-serif; //устанавливает основной шрифт сайта 
  background-color: #111; //фон для всей страницы
  color: white; //Устанавливает цвет текста 
  margin: 0; //убирает стандартные внешние отступы браузера
  padding: 0; //убирает внутренние отступы у body
}

#app { //Это контейнер, куда Vue монтирует всё приложение. В index.html у меня есть <div id="app"></div>
  width: 100%; // Растягиваем приложение на всю ширину экрана
  margin: 0; //Убираем внешние отступы
  padding: 0; //Убираем внутренние отступы 
}

/* ссылки */
a,
.green { //
  text-decoration: none; //убирает подчёркивание у всх ссылок
  color: hsla(160, 100%, 37%, 1); //устанавливает ярко-бирюзовый цвет в формате HSLA
  transition: 0.4s; //плавная анимация для любых изменений стиля (например: hover, изменение цвета, прозрачности)
  padding: 3px; //небольшой клик-зона вокруг текста 
}

@media (hover: hover) { //браузер применяет эти стили только при наведении мыши
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2); //вокург ссылки появится подсветка бирюзового цвета с прозрачностью 20%
  }
}