@font-face {
  font-family: 'Actay Wide';
  src: url('../fonts/ActayWide-Bold.woff2') format('woff2');
  font-weight: 700;
   font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather Sans';
  src: url('../fonts/MerriweatherSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
  font-weight: 400;
   font-style: normal;
  font-display: swap;
}
