html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
  font-family: 'Merriweather Sans', sans-serif; /* например */
  background: var(--color-bg-primary);
  color: var(--color-text-secondary);
}